[submodule "submodules/OpenFace"]
	path = submodules/OpenFace
	url = https://github.com/timobaumann/OpenFace
[submodule "submodules/OpenFaceQualifier"]
	path = submodules/OpenFaceQualifier
	url = https://github.com/timobaumann/OpenFaceQualifier
[submodule "submodules/inmind-nludm"]
	path = submodules/inmind-nludm
	url = https://github.com/yulundu/inmind
