[submodule "submodules/OpenFace"]
	path = submodules/OpenFace
	url = https://github.com/timobaumann/OpenFace
[submodule "submodules/OpenFaceQualifier"]
	path = submodules/OpenFaceQualifier
	url = https://github.com/timobaumann/OpenFaceQualifier
[submodule "submodules/inmind-nludm"]
	path = submodules/NLU-DM
	url = https://github.com/yulundu/inmind
[submodule "submodules/InMind-April2017-JeroMQAndroid"]
	path = submodules/JeroMQAndroid
	url = https://github.com/mmasley/InMind-April2017-JeroMQAndroid.git
[submodule "submodules/BEAT"]
	path = submodules/BEAT
	url = https://github.com/mmasley/InMind-April2017-BEAT.git
[submodule "submodule/MUF"]
	path = submodule/MUF
	url = https://github.com/fpecune/MUF-inMind-April2017.git
